<html>

<head>

<style>

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: Avenir;
    color: #0b1230;
    text-align: center;
    margin-top: 50px;
}

#branding {
    position: absoluteq;
    width: 50;
    margin-left: 40%;
    margin-right: 75%;
    margin-top: 3%;
}

</style>

</head>

<body>

<title> Right Message </title>

<img id='logo' src='/logo.png'>

</body>

</html>