<html>

<head>

<style>

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: Avenir;
    color: #0b1230;
    font-size: 70px;
    text-align: center;
    margin-top: 10%;
    user-select: none;
}
span {
    font-family: Avenir;
    color: #0b1230;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    user-select: auto; 
}


span::selection {
    background-color: rgba(209, 217, 255, 0.856);
}

.buttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.button {
    font-family: Avenir;
    font-weight: bold;
    font-size: 15px;
    display: block;
    width: 30%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    color: rgb(162, 165, 175);
    box-shadow: -4px -3px 50px 25px rgba(0,0,0,0.025);
    z-index: 1;
    transition: 0.1s;

}

.button:hover {
    box-shadow: -4px 10px 50px 25px rgba(0,0,0,0.05 );
    cursor: pointer;
    box-shadow: 0px 2px 100px rgba(43, 43, 43, 0.12), 0px 0px 0px 3px #3f296325;

}

.button:active {
    box-shadow: -4px 10px 50px 25px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 2px 100px rgba(43, 43, 43, 0.16), 0px 0px 0px 3px #24193673;

}

.textarea {
    outline: none;
    resize: none;
    border-style: none;
    font-family: Avenir;
    font-weight: bold;
    color:rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    box-shadow: -4px 10px 50px 25px rgba(0, 0, 0, 0.025);
    width: 30%;
    height: 20%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    transition: 0.2s;
    border: 3px solid rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}


.textarea:hover {
    outline: none;
    resize: none;
    border-style: none;
    font-family: Avenir;
    font-weight: bold;
    color:rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    box-shadow: -4px 10px 50px 25px rgba(0, 0, 0, 0.05);
    width: 30%;
    height: 20%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    transition: 0.2s;
    border: 3px solid rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    box-shadow: 0px 2px 100px rgba(43, 43, 43, 0.12), 0px 0px 0px 3px #3f296325;
}

.textareaActive {
    outline: none;
    resize: none;
    border-style: none;
    font-family: Avenir;
    font-weight: bold;
    color:rgb(53, 53, 53);
    margin: 20px;
    padding: 20px;
    width: 35%;
    height: 25%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    transition: 0.2s;
    border: 3px solid rgb(90, 90, 90);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    box-shadow: 0px 2px 100px rgba(43, 43, 43, 0.12), 0px 0px 0px 3px #3f296342;
}


textarea::placeholder {
    font-style: italic;
}

.status:hover {
    display: inline;
    background-color: rgba(63, 63, 63, 0.096);
}

.container {
    display: flex;
    justify-content: center;
}

</style>

</head>

<body id='page'>

<form action='/mark' method='POST'>

<textarea name='spam' class='textarea' id='mark' placeholder='Paste your spam message here...'><%= message %></textarea>

<input type='submit' class='button' value='Mark'/>

</form>

<br>
<br>
<br>

<div class='container'>
<span class='status'> &nbsp <%= status %> &nbsp </span>
</div>

<script>

const area = document.getElementById('mark')
const page = document.getElementById('page')

page.addEventListener('click', (event) => {
    if (area == document.activeElement) {
        area.className = 'textareaActive'
    } else {
        area.className = 'textarea'
    }
})

</script>

</body>

</html>